/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#divWrap{height:40px;width:100%;}

#divWrap div{
    opacity:0;
}
.Active{
    opacity:1;
    -webkit-animation:fadeIn ease-in-out 0.5s;
    animation:fadeIn ease-in-out 0.5s;
}
.Hidden{
    opacity:0;
}

@-webkit-keyframes fadeIn{
    from{opacity:0;}
    to  {opacity:1;}
}
@keyframes fadeIn{
    from{opacity:0;}
    to  {opacity:1;}
}

.photo-container {
    height: 85vh;
    position: absolute;
    width: 100%;
}

.photo-container img {
    display:block;
    margin:auto;
}

/*.image-class {
    opacity: 0;
}*/

@media only screen and (min-device-width: 480px) {
    .container-outer { overflow: scroll; height: 85vh;}
    .container-inner { width: 1000000px; }
    img {
        height: 85vh;
    }
}
@media only screen and (max-device-width: 480px) {
    .container-outer { padding: 0 20px;}
    .container-inner { width: 100%; }
    img {
        max-height: 85vh;
        width: 100%
    }
}
.button-row { width: 800px;}
.button_to {
	width: 100px;
    background-color: transparent;
    border: none;
    display: inline-block;
}

input[type="submit" i] {
	width: 100px;
    border: none;
    background-color: transparent;
	display: inline-block;
}
h1 form {
	display: inline-block;
}
#gradient {
    position:absolute;
    z-index:2;
    top:0; bottom:0; right:0;
    width:300px;
    background: none;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
    background: -webkit-gradient(linear, left top, top bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(80%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );

}