<!DOCTYPE html>
<html>
<head>
  <title>Lizhagearty</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.js"></script
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
